@font-face {
  font-family: Kelly Slab;
  src: url(./assets/kelly-slab.ttf);
}

#root {
  font-family: Kelly Slab;
  font-weight: 15px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main: #4E3E28;
  --color-main-dark: #3C311D;
  --color-second: #AA945B;
  --color-second-dark: #7c6c43;

  width: 100%;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-second);
  font-family: Kelly Slab;
  color: white;
}

.main {
  width: 100%;
  height: calc(100% - 30vw);
  display: flex;
  align-items: flex-start;
  flex-direction: flex-start;
  flex-direction: column;
}

@media (min-width: 700px) {
 .main {
  flex-direction: row;
 } 
}

@media (min-width: 500px) {
  .main {
    height: calc(100vh - 30vw);
  }
}

@media (min-width: 1000px) {
  .main {
    height: calc(100vh - 22.4vw);
  }
}